* {
    box-sizing: border-box;
}

.prw-container {
    border:0;
    background:transparent;
}

.prw-container .prw-header {
    border-bottom:0;
    padding:0;
    background:transparent;
}

.prw-container .prw-header {
    position: absolute;
    left: 58px;
    top: 10px;
}

.prw-reviews-sort-by {
    display:none;
}

.prw-product {
    display: inline-block;
    width: 15%;
    border-bottom: 0!important;
    border-top: 0!important;
    min-width: 290px;
    vertical-align: middle;
}

.prw-reviews {
    display: inline-block;
    width: 73%;
    border-top: 0!important;
    text-align: center;
    vertical-align: middle;
}

.prw-reviews .prw-review {
    display: inline-block;
    width: 30%;
    margin: 0 1%;
    vertical-align: top;
    text-align: left;
}

.prw-container .prw-reviews .prw-review+.prw-review {
    border-top:0;
}

.prw-container .prw-reviews .prw-review>a,
.prw-container .prw-reviews .prw-review>a:visited {
    transition:0.3s;
}

.prw-container .prw-reviews .prw-review>a:hover {
    background-color:#e2e2e2;
    border-radius:2%;
}

.prw-product-image {
    display:none;
}

.prw-container .prw-product .prw-product-container .prw-product-write:after {
    display:block;

}

.prw-container .prw-product .prw-product-container {
    margin-left:0px;
    text-align:center;
}

.prw-container .prw-reviews .prw-review>a:active h3, .prw-container .prw-reviews .prw-review>a:visited:active h3, .prw-container .prw-reviews .prw-review>a:hover h3, .prw-container .prw-reviews .prw-review>a:visited:hover h3, .prw-container .prw-reviews .prw-review>a:active .link, .prw-container .prw-reviews .prw-review>a:visited:active .link, .prw-container .prw-reviews .prw-review>a:hover .link, .prw-container .prw-reviews .prw-review>a:visited:hover .link {
    text-decoration:none;
}

/**
    1140
    940
    720
**/
/*
@media screen and (min-width: 1140px) {
    .prw-reviews {
        width:68%;
    }

    .prw-container .small-rating p {
        width:auto;
    }

    .prw-container .prw-header {
        top: 50px;
    }
}*/


@media screen and (min-width:939px) and (max-width: 1139px) {
    .prw-container .prw-header {
        left: 56px;
        top: 40px;
    }

    .prw-reviews {
        width:68%;
    }
}

@media screen and (min-width: 719px) and (max-width: 939px) {
    .prw-container .prw-product {
        display: block;
        width: 100%;
    }

    .prw-container .prw-header {
        position:static;
    }

    .prw-reviews {
        display:block;
        width:auto;
    }
}



@media screen and (max-width:719px) {
    .prw-container .prw-header {
        position:static;
    }

    .prw-product {
        width:auto;
        display:block;
    }

    .prw-product {
        width: 100%;
        display: block;
    }

    .prw-reviews .prw-review {
        display: block;
        width: 100%;
    }
}